# .env
JWT_SECRET_KEY=SUPER_SECRET_KEY_THAT_IS_LONG_ENOUGH_12345_ADVATRUCK_202612345678
NGROK_AUTHTOKEN=YOUR_NGROK_AUTHTOKEN_HERE
TELEGRAM_TOKEN=YOUR_TELEGRAM_TOKEN_HERE
TELEGRAM_WEBHOOK_URL=YOUR_WEBHOOK_URL_HERE
